img{
    width: 95px;
}

.title{
    display: flex;
    padding-left: 10%;
    padding-top: 5%;
}
.title h1{
    color: #9b59b6;
    padding-left: 5%;
    padding-top: 1.5%;
}

.title h1:hover{
    color: #8e8e8e;
}